In [1]:
x= '1' + '2'
x

'12'

In [2]:
str(1)+str(1)

'11'

In [67]:
Name= "Michael Jackson"
len(Name)
#Indexing
print(Name[0])
print(Name[8])
print(Name[-1])
print(Name[13])
print(Name[-3])
print(Name[-15])

M
J
n
o
s
M

In [82]:
# Slicing: We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:  
Name[:4] #range from 0 to 3

'Mich'

In [68]:
Name[1:9] #range from 0 to 8

'ichael J'

In [86]:
#Stride:  We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:
Name[::2] #jumping one row one after another and do not stop / Get every second element. The elments on index 1, 3, 5 ...

'McalJcsn'

In [54]:
# Get every second element in the range from index 0 to index 7
Name[0:8:2] #jumping one row one after another and stop at 7.

'Mcal'

In [55]:
Name[0:8:3] #jumping two rows one after another and stop at 7.

'Mhl'

In [25]:
#concatenation/combination of two strings.
Statement=Name + " is a singer"
Statement

#replication
2* " Michael Jackson"

' Michael Jackson Michael Jackson'

In [37]:
#escape sequences
print('Michael Jackson \n is the best') # new line
print('Michael Jackson \t is the best') # tab
print('Michael Jackson \\ is the best') # slash after space sequence.
print(r'Michael Jackson \ is the best')

Michael Jackson
 is the best
Michael Jackson 	 is the best
Michael Jackson \ is the best
Michael Jackson \ is the best

In [78]:
#String Methods / String operations
#changing uppercase to lowercase
A1='MICHAEL'
B1=A1.lower()
B1

'michael'

In [79]:
#changing lowercase to uppercase
A2='michael'
B2=A2.upper()
B2

'MICHAEL'

In [80]:
#Replacing a value in a string by another value
A3= Statement
B3=A3.replace('Michael', 'Janet')
B3

'Janet Jackson is a singer'

In [9]:
#method _find
#find a substring
Name.find('el')

5

In [10]:
Name.find('Jack')

8

In [11]:
Name.find('&')

-1

In [49]:
#Liste
#Indexing
L=['Michael Jackson', 10, 1.2]
L[0]

'Michael Jackson'

In [16]:
L[-1]

1.2

In [47]:
#Slicing on a list
L=['Michael Jackson', 10.1, 1982, "M", 1]
L[1:4]

[10.1, 1982, 'M']

In [50]:
#Extend
#We can use the method  to add new elements to the list.
L.extend(['pop', 10])
L

['Michael Jackson', 10, 1.2, 'pop', 10]

In [51]:
#Append
#Another similar method is append If we apply append instead of extend, we add one element to the list.
L.append(['hard rock'])
L

['Michael Jackson', 10, 1.2, 'pop', 10, ['hard rock']]

In [52]:
#Mutability of a list.
#As lists are mutable, we can change them. For example, we can change the first element as follows:
L[0]='Johan kouame'
L

['Johan kouame', 10, 1.2, 'pop', 10, ['hard rock']]

In [54]:
#deleting an element of a list.
#We can also delete an element of a list using the del command:
del(L[3])
L

['Johan kouame', 10, 1.2, 10, ['hard rock']]

In [56]:
#Converting a string to a list
#We can convert a string to a list using split. For example, the method split translates every group of characters separated by a space into an element in a list:
'Johan Kouame'.split()

['Johan', 'Kouame']